.footer-section {
  background: rgba(1, 14, 41, 0.3); /* semi-transparent dark background */
  width: 100%;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.social-links {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
}

.social-links li img {
  width: 30px;
  height: 30px;
  cursor: pointer;
  transition: transform 0.3s, opacity 0.3s;
}

.social-links li img:hover {
  transform: scale(1.2);
  opacity: 0.8;
}

.footer-section p {
  color: #8a98ad;
  margin-top: 15px;
  font-size: 14px;
  text-align: center;
}
